<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" routerLink="/home">Customer <i>DB</i><span style="color:red" class="glyphicon glyphicon-cog"></span></a>
    </div>
    
  </div>
</nav>
<br>
<h2 style="text-align:center">Resource Not Found</h2>