<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Customer <i>DB</i><span style="color:red" class="glyphicon glyphicon-cog"></span></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a >Customer Details <span style="color:red" class="glyphicon glyphicon-list-alt"></span></a></li>
        <li ><a >Add Customer <span style="color:red" class="glyphicon glyphicon-plus-sign"></span></a></li>
        
      
      </ul>
     
    </div>
  </div>
</nav>
<div style="text-align:center">
  <h2>
    Welcome to {{title}}!!
  </h2>
</div>  
<br><br>
<div class="container">
<div class="input-group">     
      <input style="max-width: 250px; float:right" id="text" type="text" class="form-control" name="email" placeholder="search database">
      <span class="input-group-addon" style="background-color: black; color: red"><i class="glyphicon glyphicon-search"></i></span>
</div>
<br>
<table>
<tr><th>Customer Id</th><th>First Name</th><th>Last Name</th><th>Delete Customer</th><th>Edit Details</th><tr>
<tr *ngFor="let r of results">
<td>{{r.id}}</td><td>{{r.first}}</td><td>{{r.last}}</td>
<td>
<button type="button" (click)="deleteUser(r.id)" class="btn btn-danger btn-sm">Remove <span class="glyphicon glyphicon-remove"></span></button>
 </td>
<td><button type="button" (click)="editUser(r.id,r.first,r.last)"class="btn btn-warning btn-sm">Edit <span class="glyphicon glyphicon-edit"></span></button></td>
</tr>
</table>
</div>
<br>
<app-customer-edit [id]="id" [first]="first" [last]="last"></app-customer-edit>