button{
	border:none;
}


table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
 
   font-family: 'Roboto Condensed', sans-serif;
    -webkit-box-shadow: -5px 6px 14px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 6px 14px -5px rgba(0,0,0,0.75);
    box-shadow: -5px 6px 14px -5px rgba(0,0,0,0.75);
}
table th{
	background: black;
	color: red;

}
@media screen and (max-width: 500px) {
	table{
	font-size:.85em;
	max-width: 480px;
	}
	}
  
  
  
table button{
    -webkit-box-shadow: -3px 7px 32px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 7px 32px -5px rgba(0,0,0,0.75);
    box-shadow: -3px 7px 32px -5px rgba(0,0,0,0.75);
}

table button:hover {
	color: black;

}
input[type=text]{
	max-width: 250px;
	float: right;
}
h2{
	font-family: 'Ubuntu Condensed', sans-serif;
}